/*--------- text ---------*/
  
.textocentral {
  width: 80%;
  height: 320px;
  position: relative;
  left: 10%;
  right: 10%;
  margin-top: 100px;
  margin-bottom: 100px; }

.textocentralbox {
  width: 100%;
  height: 100%;
  top: 0%;
  position: absolute;
  border: none;
  display: grid;
  grid-template-rows: 2fr 1.2fr 1.2fr; 
  text-align: center;
  justify-items: center;
  justify-content: center; }
  
/*--------- gallery ---------*/

.gallery {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 100px;
  margin-bottom: 80px; }

.gallery__box {
  width: 90%;
  height: auto;
  margin-left: 5%;
  margin-right: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50% 50%;
  justify-items: stretch;
  justify-content: stretch;
  align-items: stretch;
  align-content: stretch;
  gap: 0px; }

.galleryOb {
  display: grid;
  width: 95%;
  height: 700px;
  top: 0;
  margin-left: 2.5%;
  margin-right: 2.5%;
  border: none;
  grid-template-rows: 40% 60%;
  justify-items: stretch;
  justify-content: center;
  align-items: stretch;
  align-content: stretch; }

.galleryOb__txt {
  width: 99%;
  height: 100%;
  left: 1%;
  position: relative; }

.galleryOb__txt--h3 {
  height: auto;
  position: absolute;
  top: 5%; }

.galleryOb__txt--h2 {
  height: auto;
  line-height: 2.8rem;
  position: absolute;
  top: 15%;
  overflow: hidden; }

.galleryOb__txt--p1 {
  height: 2rem;
  width: 100%;
  position: absolute;
  width: 100%;
  top: 40%;
  overflow: hidden; }

.galleryOb__txt--p2 {
  height: 2rem;
  width: 90%;
  position: absolute;
  width: 100%;
  top: 46%;
  overflow: hidden; }

.galleryOb__txt--p3 {
  height: 2rem;
  width: 100%;
  position: absolute;
  width: 100%;
  top: 52%;
  overflow: hidden; }

.galleryOb__but {
  height: 50px;
  width: 165px;
  position: absolute;
  top: 70%;
  border-radius: 10px;
 }

.galleryOb__img {
  width: 100%;
  height: 100%;
  z-index: 2;
  object-fit: cover; }

.galleryOb__img--img {
  max-width: 500px;
  max-height: 350px;
  height: 100%; }

/* ------- MEDIA ----------*/

/*--------- text ---------*/
@media (max-width: 768px) {
  .textocentral {
  height: 400px;
  margin-top: 80px;
  margin-bottom: 80px; } }

/* ------- gallery ----------*/
@media (max-width: 576px) {
.gallery {
  margin-top: 60px;
  margin-bottom: 60px; }
.gallery__box {
  grid-template-columns: 1fr;
  grid-template-rows: 6fr;}
.galleryOb {
  height: 650px;
  grid-template-rows: 50% 50%;} }

@media (min-width: 576px) and (max-width: 768px) {
.gallery {
  margin-top: 60px;
  margin-bottom: 60px; }
.gallery__box {
  grid-template-columns: 1fr;
  grid-template-rows: 6fr;}
.galleryOb {
  height: 650px;
  grid-template-rows: 50% 50%;} }

@media (min-width: 768px) and (max-width: 992px) {
.gallery {
  margin-top: 80px;
  margin-bottom: 80px; }
.gallery__box {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;} }
  
  