/*--------- header ---------*/
.header {
    width: 100%;
    height:110px;
    position: relative;
    margin-bottom: 80px;}
  
.header__color {
    background-color: black; 
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: inherit; }

/*--------- main ---------*/
.car {
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 80px;
    margin-bottom: 100px;
    position: relative; 
    visibility: visible;}

.car__listbox {
    margin-top: 50px;
    margin-bottom: 50px; }

.car__list {
    list-style-type: none; }

.car__titlespace {
    width: 100%;
    height: 2px;
    background-color: #b5a58a;
    margin-bottom: 15px; }

.car__color {
    font-weight: 600;
    color: #b5a58a; }
  
.car__items {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 2.5fr 2fr 2fr 1.5fr 1.5fr 1fr 0.3fr;
    text-align: left; 
    margin-top: 20px;
    margin-bottom: 10px;}

.car__fixed {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 9.5fr 1.3fr;
    text-align: left; 
    margin-top: 15px;
    margin-bottom: 15px;}

.car__legend {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 45%; }

.car__buttonbox {
    margin-top: 50px;
    margin-bottom: 50px; 
    text-align: center;}

.car__button {
    height: 40px;
    width: 140px;
    padding: 0px;
    border-radius: 10px;
    margin: 10px; }

.car__legendbox {
    width: 50%;
    height:250px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 60px;
    margin-bottom: 60px;
    border-style: dashed;
    border-color: #b5a58a;
    border-radius: 20px;
    background-color: white;
    position: relative; }

.car__iconClose {
    color: #b5a58a;
    float: right;
    margin: 20px; }

.car__legendbox a:hover {
    color: black; }